@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

/* font-family: 'Joan', serif; */

/* ==================
      General
================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-align: center;
  color: white;
}

body {
  background: grey;
}


/* ==================
      Styling
================== */

.article {
  width: 100%;
  margin-bottom: 10px;
}

.article img {
  width: 100%;
}

.article h3 {
  font-size: 2rem;
}

.article p {
  font-size: 1.7rem;
}

.article a {
  font-size: 1.5rem;
  text-decoration: none;
  color: maroon;
}